._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-gov-etracs-vehicle/nbproject/private/
/client/rameses-gov-etracs-vehicle/build/
/client/rameses-gov-etracs-vehicle/dist/
/client/vehicle-tricycle-reports/nbproject/private/
/client/vehicle-tricycle-reports/dist/
/client/vehicle-tricycle-reports/build/
/client/dalaguete-vehicle-reports/nbproject/private/
/client/rameses-gov-etracs-vehicle-V1/nbproject/private/
/client/tagbilaran-vehicle-reports/nbproject/private/
/client/dalaguete-vehicle-reports/build/
/client/dalaguete-vehicle-reports/dist/
/client/tagbilaran-vehicle-reports/build/
/client/tagbilaran-vehicle-reports/dist/